<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if id == 0 %}
        <title>New Track</title>
    {% else %}
        <title>Track {{ id }}</title>
    {% endif %}
</head>
<body>
{% if form.track_name.value or id == '0' %}
    {% if form.track_name.value %}
        <h2 style="width:40%; margin:auto; margin-top:1%; margin-bottom:1%; text-align:center;">{{ form.track_name.value }}</h2>
    {% else %}
        <h2 style="width:20%; margin:auto; margin-top:1%; margin-bottom:1%; text-align:center;">Add New Track</h2>
    {% endif %}
<div>
    <form action="{% url 'track_detail' id %}" method="post" style="width: 100%; margin: auto;">{% csrf_token %}
        <table align="center">
            {{ form.as_table }}
        </table>
        <h3 style="width:10%; margin:auto; margin-top:1%; margin-bottom:1%;"><big>Genres</big></h3>
        <table style="width:80%; margin:auto;">
            <!--<tr style="width:100%;margin:auto; text-align: center;"><big>Genres</big></tr>-->
            <tr>
            {% for genre in genre_list %}
                <td style="width:20%; text-align:left; margin:auto; margin-top:1%; margin-bottom:1%;">
                {% if genre in selected_genres %}
                    <input type="checkbox" value="{{genre.id}}"  name="genres" checked style="width:10%; text-align:left; margin:auto; margin-top:1%; margin-bottom:1%;"/> {{genre.genre}}
                {% else %}
                    <input type="checkbox" value="{{genre.id}}"  name="genres" style="width:10%; margin:auto; margin-top:1%; margin-bottom:1%;"/> {{genre.genre}}
            {% endif %}
                </td>
                {% if forloop.counter|divisibleby:"5" %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        <input type="submit" value="Save" style="margin-left: 48%; margin-top: 1%; float:center;">
    </form>
    {% if id != '0' %}
    <div style="width: 40%; margin-left: 35%; margin-top:1%; display: inline-block;">
    {% else %}
    <div style="width: 40%; margin-left: 44%; margin-top:1%; display: inline-block;">
    {% endif %}
    <form action="{% url 'home' %}" method="get" style="display: inline;">
    <input type="submit" value="Home">
    </form>
    <form action="{% url 'tracks'%}" method="get" style="display:inline">
    <input type="submit" value="Back to Tracks">
    </form>
    {% if id != '0' %}
    <form action="{% url 'track_detail' 0 %}" method="get" style="display:inline">
        <input type="submit" value="Add New Track">
    </form>
    <form action="{% url 'track_detail' id %}" method="post" style="display:inline">{% csrf_token %}
        <input type="hidden" name="Delete" value="True">
        <input type="submit" value="Delete Track">
    </form>
    {% endif %}
    </div>
</div>
{% else %}
    <p>Track not found.</p>
<form action="{% url 'tracks'%}">
    <input type="submit" value="Back to Tracks">
</form>
{% endif %}

</body>
</html>
