<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracks</title>
</head>
<body>
<h3 align="center">Tracks List</h3>
{% if track_list %}
<table border="1" style="width:75%" >
    <tr>
        <th align="center">Name</th>
        <th align="center">Genre</th>
        <th align="center">Rating</th>
    </tr>
    {% for track in track_list %}
    <tr>
        <td style = "text-align: center"><a href="{% url 'detail' track.id %}"><font color="black">{{ track.track_name }}</font></a></td>
        <td style = "text-align: center">{{ track.genre }}</td>
        <td style = "text-align: center">{{ track.rating }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No tracks have been added. Please add tracks first.</p>
{% endif %}
</body>
</html>